

.item {
    position: relative;
    width: 38px;
    background-color: var(--soft-red);
    border-radius: 5px;
}

.item:hover {
    cursor: pointer;
    background-color: var(--soft-red-light );
}

.amount {
    visibility: hidden;
    background-color: var(--dark-brown);
    color: #fff;
    padding: 4px;
    border-radius: 5px;
    position: absolute;
    top: -40px;
    left: -4px;
}

.item:hover .amount {
    visibility: visible;
}